/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* In this universal selector we are removing margin and padding as well as changing the box model to measure the width / height from border to border. This is a standard universal reset. */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting font declarations in the body standardizes the fonts for the whole page. Since styles are inherited all font will now have these properties unless overwritten. */
body{
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

/* These variables will make it easier for us to repeatedly set these colors on our elements. It will also allow me to universally change all set colors if need be.*/
:root{
  --clr-light: #7ed56f;
  --clr-medium: #55c57a;
  --clr-dark: #28b485;
}

/* ---------------------- Header Start ---------------------- */
.header{
  height: 95vh;
  background-image: 
    linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.801),
    rgba(40, 180, 133, 0.801)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;

  /* - Clip Path + polygon specifies where  the image WILL STILL BE VISIBLE and not what gets clipped off.
     - The polygon funciton accepts coordinates with which we can create a shape. Each set of coordinates are x and y values separated by a comma. Importantly, the x and y numbers themselves are not wrapped in parenthesis or separated by a comma. 
     - The points of the visible shape are set by using offset from the top left of the image or element that we are clipping. So in this case, when we say x is 100% we are setting that point completely opposite of the left hand side of the element.
  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

/* REMINDER - when setting an element to absolute positioning, the top, left, right and bottom offsets will adjust the element based on the parent container. In our case, the header. So, the top and left attributes of logo-box will move the div based on the header element. */
.logo-box{
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo{
  height: 35px;
}

.logo:hover{
  transform: translateY(-2px);
}

.center-heading{
  position: absolute;
  text-align: center;
  /* 
    - Combining top and left with translate and absolute positioning allows us to EASILY center and object within its parent container.
    - When setting top and left we are moving the specified element 50% across the container and 50% down, however, this sets the left edge of our element where we want causing it to look displaced further to the right and down.
    - To adjust the element back over to the left and into the middle where we want, we add on transform translate(x , y). This moves the element over and up based on its own width and height.
    - Basically, by using translate, we are setting the midpoint of the element as its left edge. Now, we can use top, left bottom and right to essentially drag around our element from its midpoint. Success! 
  */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary{
  color: white;


  /*
   prevents shaky janky animations 
    - This is a hack for animations but is intended to hide or show backside of elements upon 3d rotations
   */
  backface-visibility: hidden;
}

.heading-primary-top{
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1.8rem;
  display: block;

  /* duration | name | delay */
  animation: 1.3s heading-fade-in-left;

  /*
   This determines how slow or fast the animation happens within the specified duration
   */
  animation-timing-function: ease-in-out;

  /*
   - Iteration count determines how many loops the animation will run
  animation-iteration-count: 3; 
  */
}

.heading-primary-bottom{
  font-weight: 400;
font-size: 1.4rem;  
letter-spacing: .7rem;
display: block;
animation: 1.3s subheading-fade-in-right ease-in-out;
}
/* ---------------------- Header End ---------------------- */

/* ---------------------- Header Btn Start ---------------------- */
.btn:link, 
.btn:visited{
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 30px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 25px;
  position: relative;
  font-size: 1.2rem;
}

.btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0, .4);
}

.btn:active{
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0,0,0, .6);
}

.btn-white{
  background-color: white;
  color: #777;
  transition: all .3s; 
}

.btn::after{
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
  z-index: -1;
}

.btn-white::after{
  background-color:white;
}

.btn-animate:hover::after{
  transform: scale(1.1, 1.4);
  opacity: 0;
}

.btn-animated{
  animation: btn-appear 1.3s ease-out .6s;
  animation-fill-mode: backwards;
}
/* ---------------------- Header Btn End ---------------------- */


/* ---------------------- Animations Start ---------------------- */
/* main heading */
@keyframes heading-fade-in-left{
  0%{
      opacity: 0;
      transform: translateX(-20%);
      font-size: .2rem;
  }

  80%{
    opacity: .7;
    /* transform: translateX(1%); */
  }

  90%{
    opacity: .9
  }

  100%{
    opacity: 1;
    transform: translateX(0);
    /* font-size: 4rem; */
  }
}

/* subheading */
@keyframes subheading-fade-in-right{
  0%{
      opacity: 0;
      transform: translateX(20%);
      font-size: .2rem;
  }

  80%{
    opacity: .7;
    /* transform: translateX(-1%); */
  }

  90%{
    opacity: .9
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/* btn fade in */
@keyframes btn-appear{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0;
  }

  75%{
    opacity: .5
  }

  90%{
    opacity: .8
  }

  100%{
    opacity: 1;
  }
}
/* ---------------------- Animations End ---------------------- */