// color variables;
$color-primary: #55c57a;
$color-light: #7ed56f; 
$color-dark: #28b485; 

$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


/* These variables will make it easier for us to repeatedly set these colors on our elements. It will also allow me to universally change all set colors if need be.*/


//Grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//fonts
$default-font-size: 1.6rem;